<br/>
<br/>
<% @forms["forms"][0]["fields"].each do |field| %>
	<h4>Field</h4><br/>
	<%= field["question"] %><br/>
	<%= field["helptext"] %><br/>
	<%= field["datatype"] %><br/>
	<%= field["blank"] %><br/><br/>
<% end %>
