<%= javascript_include_tag "application" %>
<!--<div id="container">Loading...</div>-->
<h1>Form Builder</h1><br/>
<div class="row">
	<div class="well span">
		<h4>Fields in your form</h4>
		<br/>
			<div class="field-container">
				<div class="alert alert-info">
					<div class="row">
						<div class="span6 form-horizontal">
							<div class="control-group">
								<fieldset>
									<label for="q1" class="control-label">Question:</label>
									<div class="control">
										<input name="q1" type="text" class="span4"/>
									</div>
								</fieldset>
							</div>
							<div class="control-group">
								<fieldset>
									<label for="h1" class="control-label">Data Point Name:</label>
									<div class="control">
										<input name="h1" type="text"/>
									</div>
								</fieldset>
							</div>
						</div>
						<div class="span1">
							Edit
						</div>
						<div class="span1">
							<a href="#"><%= image_tag("ic_up.png") %></a>
							<br/>
							<a href="#"><%= image_tag("ic_down.png") %></a>
						</div>
					</div>
				</div>
			</div>
	</div>
	<div class="well span2">
		<h4>Field Templates</h4>
		<br/>
		<div style="margin-left:30px;">
			<ul class="unstyled">
				<li style="margin:10px;"><input type="button" value="Text" class="btn btn-info"/></li>
				<li style="margin:10px;"><input type="button" value="Numeric" class="btn btn-info"/></li>
				<li style="margin:10px;"><input type="button" value="Long Response" class="btn btn-info"/></li>
				<li style="margin:10px;"><input type="button" value="Dropdown" class="btn btn-info"/></li>
				<li style="margin:10px;"><input type="button" value="True/False" class="btn btn-info"/></li>
			</ul>
		</div>
	</div>
</div>