<%= javascript_include_tag "application" %>
<h1>Explorer</h1>
<div id="data" style="display:none;"><%= study_subject_path(:format => :json)%></div>
<div id="explorer" style="height: 400px; width:100%;"></div>