<table>
		<tr>
			<% @form.fields.order("position").each do |field| %>
				<th><%= field.metadata["question"] %></th>
			<% end %>
		</tr>
	<% @form.data_sets.each do |data_set| %>
		<tr>
			<% @form.fields.order("position").each do |field| %>
				<td><%= convert_to_string(data_set.data_set[field.metadata["datapoint"]]) %></td>
			<% end %>
		</tr>
	<% end %>
</table>