<%= image_tag("detroit.png", :width=>"400", :height => "300")%>

<% if @form.is_published %>
	<%= render :partial => "scform", :locals => {:form => @form} %>
<% else %>

<h3>There doesn't seem to be anything here!</h3>

<% end %>