<% content_for(:crumbs) do %>
  <ul class="breadcrumb">
  	<li>
    	<%= link_to "Dashboard", study_dashboard_index_path%> <span class="divider">/</span>
  	</li>
  	<li class="active"><%= @form.name %></li>
  </ul>
<% end %>
<%= render :partial => "scform", :locals => {:form => @form} %>
<br/>
