<h3>Thanks for filling out the form! You have been entered to win the VIP merchandise package!</h3>

<p>Please visit <a href="http://www.detroitjazzfest.com">detroitjazzfest.com</a> to keep up with our activities year-round.</p>