<% @forms.each do |form| %>
	<h3><%= form.name %></h3>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<% form.fields.each do |field| %>
					<th><%= field.metadata["datapoint"] %></th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			
			<% form.data_sets.each do |data_set| %>
				<tr>
					<% form.fields.each do |field| %>
						<td><%= data_set.data_set[field.metadata["datapoint"]] %></td>
					<% end %>
				</tr>
			<% end %>
			
		</tbody>
	</table>
<% end %>