<h6>Sign In</h6>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  	<%= f.text_field :email, :placeholder => "Email Address", :class => "span12" %>
  	<%= f.password_field :password, :placeholder => "Password", :class => "span12" %>
    <%= f.submit "Sign in", :class => "btn-glow primary signup" %>
<% end %>