<h1>Profile</h1>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Study Name</th>
			<th>Study Creator</th>
			<th>Default Study?</th>
		</tr>
	<thead>
	<tbody>
		<% @acls.each do |acl| %>
			<% if acl.study_is_active || acl.user_id == acl.study_user_id %>
				<td><%= acl.study_title %></td>
				<% if acl.user_id != acl.study_user_id %>
					<td><%= acl.study_email %></td>
				<% else %>
					<td>You</td>
				<% end %>
				<td></td>
			</tr>
			<% end %>
		<% end %>
	</tbody>
</table>		
