<% content_for(:links) do %>
		<li><%= link_to "dashboard", study_dashboard_index_path %></li>
		<li><%= link_to "announcements", study_announcements_path %></li>
<% end %>

<%= render :file => "layouts/application" %>